@import './tailwind.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Toastify__toast {
  background: #fff;
  color: #000;
  font-size: 13px;
  font-family: inherit;

  .Toastify__close-button {
    color: #000;
  }

  &.Toastify__toast--success {
    background: #fff;
    border-left: 2px solid #84e7b5;
  }
  &.Toastify__toast--error {
    background: #fff;
    border-left: 2px solid #f10b0b;
  }
  &.Toastify__toast--info {
    background: #fff;
    border-left: 2px solid #007ee6;
  }
}


input[data-sk-name~='sked-multi-select-input'] {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  &:focus {
    border: none;
  }
}