
name: build-and-deploy-pkgs

on:
  workflow_dispatch:

jobs:
  build-main-pkg:
    name: build example
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ./example
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - run: |
            cd myReactApp
            yarn
            yarn build
      - uses: actions/upload-artifact@v3
        with:
          name: skedulo-pkg-starter
          path: |
            example/myReactApp/build
  deploy-pkg:
    name: deploy-pkg
    needs: [build-main-pkg]
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - uses: actions/checkout@v3
      - uses: actions/download-artifact@v3
        with:
          path: built
      - uses: actions/setup-node@v3
      # debug vars.SKEDULO_API_SERVER, print here
      - run: echo '${{ toJSON(github) }}'
      - uses: tranlehaiquan/skedulo-actions@v1.9
        with:
          SKEDULO_API_SERVER: ${{ vars.SKEDULO_API_SERVER }}
          SKEDULO_API_TOKEN: ${{ secrets.SKEDULO_API_TOKEN }}
          ORG_NAME: ${{ vars.ORG_NAME }}
          PACKAGE_PATH: ${{ vars.PACKAGE_PATH }}